body {
/* background-color: rgb(255, 51, 0) */
background-color: lightgoldenrodyellow;
/* padding-top: 25px; */
padding-left: 25px;
bottom: 2000px
}

p {
background-color: lightpink;

}

.fixed-top {
    background-color: lightgreen;
}
