body {
    /* background-color: rgb(255, 51, 0) */
    background-color: lightgoldenrodyellow;
    padding-top: 0px;
    padding-left: 25px;
    height: 2000px;
    }

p {
    /*
    background-color: lightpink;
    width: fit-content;
    */
}

input {
    /* 
    display: inline-block;
    border: 5px;
    padding: 5px; 
    */
}

hr {
    background-color: crimson;
    font-weight: bold;
}

.div-date-value {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    display: inline-block;
    border-left: 10px; */
}

.div-fixed-top { /* topmost line of page */

    background-color: rgb(8, 127, 196);
    /* background-color: transparent; */
    position: fixed;
    margin-top: 0;
    margin-bottom: 200;
    width: 100%;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    
}

.div-secondlevel {
    /* float: left; */
}



.input-fixed { /* text box */
    /* position: fixed; */
    font-weight: bold;
}

.input-dateclass { /* date picker */
    /* display: inline-block; */
    /* background-color: rgb(217, 231, 12); */
    /* position: fixed; */    
}

.first-image {
    border-left: 100px;
}